<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Monster Mayhem</title>
  </head>
  <body>
    <header>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <a href="/logout">Logout</a>
      <a href="/profile">Profile</a>
      <a href="/game">Play game</a>
    </header>
    <h1>Welcome to the Monster Mayhem!</h1>
    <a href="/game">Play Game</a>
  </body>
</html>
