<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Monster Mayhem</title>
  </head>
  <body>
    <h1>Login</h1>
    <% if (errorMessage) { %>
    <p class="error"><%= errorMessage %></p>
    <% } %>
    <form action="/login" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" />
      <label for="password">Password:</label>
      <input type="password" name="password" />
      <input type="submit" />
    </form>
    <p>New to Game? <a href="/register">Register</a></p>
  </body>
</html>
